asgiref==3.8.1
beautifulsoup4==4.12.3
distlib==0.3.8
Django==4.2.16
django-bootstrap-v5==1.0.11
filelock==3.15.4
pillow==10.3.0
platformdirs==4.2.2
soupsieve==2.6
sqlparse==0.5.0
ttkbootstrap==1.10.1
tzdata==2024.1
virtualenv==20.26.3
django-extensions==3.2.3
