.navbar {
    background-color: #343a40; /* Un tono gris oscuro */
    color: #ffffff; /* Texto blanco */
}
.navbar .nav-link, .navbar-brand {
    color: #ffffff; /* Enlaces en blanco */
}
.navbar .nav-link:hover {
    color: #d4d4d4; /* Efecto hover en los enlaces */
}
.btn-outline-success {
    color: #ffffff;
    border-color: #28a745;
}
.btn-outline-success:hover {
    background-color: #eb4122;
    color: #ffffff;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.parallax {
    background-image: url('path_to_your_image.jpg'); /* URL de la imagen */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control {
    border-radius: 5px;
    border-color: #ced4da;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #0062cc;
    border-color: #0056b3;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.venta-anulada {
    background-color: #f8d7da;
    color: #721c24;
}


.cliente-link {
    color:black; /* Cambia el color del enlace */
    text-decoration: none; /* Elimina el subrayado */
}



