{% extends 'base.html' %}
{% block title %}Agregar Cliente{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Agregar Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Agregar</button>
        <a href="{% url 'cliente_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}


<!--
"""
Plantilla para agregar un nuevo cliente en una aplicación web de Django.

Esta plantilla extiende un archivo base HTML y muestra un formulario para crear un nuevo cliente. 
Incluye un botón para enviar el formulario y un enlace para cancelar la acción, que redirige 
a la lista de clientes.

Bloques:
    - title: Establece el título de la página como "Agregar Cliente".
    - content: Contiene el formulario para agregar un cliente, con un botón de acción para 
      agregarlo y otro para cancelar.

Variables de contexto:
    - form: El formulario de Django que captura los datos del cliente para agregarlo a la base de datos.
""" -->
